# Advanced optimization - Homework 2

## 1. Dataset introduction

## 2. Setup

### 2.0 Install libraries

In [27]:
# !pip install numpy
# !pip install pandas
# !pip install xlrd
# !pip install openpyxl

### 2.1 Import libaries

In [28]:
import numpy as np
import pandas as pd
import re

### 2.2 Setup parameters

In [29]:
DATASET_FILE_NAME = "2k_hr_dataset.xlsx"

NUMERICAL_COLUMNS = [""]

### 2.3 Import dataset

In [30]:
df = pd.read_excel(DATASET_FILE_NAME)

In [31]:
df

,EmployeeNumber,Age,Attrition,Department,Education,school,EducationField,Gender,JobLevel,job_title,JobRole,jobCategory,MaritalStatus,PerformanceRating,YearsAtCompany
0,3664ef197b4cc53f7b52,41,No,FDN,3,NaN,Công nghệ,Male,4,Software Project Manager 3,Software Project Management,PM,Married,3,1.898630
1,6452222a2231db16c2dc,41,No,FHM,3,NaN,Công nghệ,Male,4,Business Analyst,Software Development,BA,Married,3,0.438356
2,9f52e751f00d4200a0c3,43,No,FHO FWA,3,NaN,Công nghệ,Male,2,Software Project Manager,Software Development,PM,Single,3,11.841096
3,43b0013b96ac5bbb2a8a,40,No,GHC,1,NaN,Công nghệ,Male,4,Software Project Manager 3,Software Project Management,PM,Married,3,0.043836
4,45785a6c8f7c132ba407,42,No,FHM,3,NaN,Công nghệ,Male,2,Developer 3,Software Development,Engineer,Married,3,0.276712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,710fc789ff41dda09a3f,27,Yes,FHN,3,NaN,Kỹ thuật,Male,3,Developer,Software Development,Engineer,Single,4,2.567123
1996,adfc059159cbaf7c7108,26,Yes,FHO FWA,1,NaN,Công nghệ,Male,2,Developer,Software Development,Engineer,Single,3,2.567123
1997,777af3d0daf3445d3ec2,29,Yes,IVS,3,NaN,Kinh tế,Female,3,Tester,Software Development,Tester,Married,3,2.567123
1998,9016f1c8bb235b1bfcf3,28,Yes,FHM,2,Đại học FPT HCM,Công nghệ,Male,3,DevOps Engineer,Software Development,Engineer,Single,4,2.567123
1999,e81f7be2038e2f56dbb2,25,Yes,FSG,3,NaN,Công nghệ,Male,2,Developer,Software Development,Engineer,Single,3,2.567123

In [32]:
df.columns[0]

'EmployeeNumber'

### 2.4 Overview of dataset

In [33]:
def camel_to_snake(name):
    s1 = re.sub('(.)([A-Z][a-z]+)', r'\1_\2', name)
    return re.sub('([a-z0-9])([A-Z])', r'\1_\2', s1).lower()

def standardize_column_names(column_list):
    return [camel_to_snake(col) for col in column_list]

standardize_column_names(df.columns)

['employee_number',
 'age',
 'attrition',
 'department',
 'education',
 'school',
 'education_field',
 'gender',
 'job_level',
 'job_title',
 'job_role',
 'job_category',
 'marital_status',
 'performance_rating',
 'years_at_company']

In [34]:
df.columns = standardize_column_names(df.columns)

In [35]:
df

,employee_number,age,attrition,department,education,school,education_field,gender,job_level,job_title,job_role,job_category,marital_status,performance_rating,years_at_company
0,3664ef197b4cc53f7b52,41,No,FDN,3,NaN,Công nghệ,Male,4,Software Project Manager 3,Software Project Management,PM,Married,3,1.898630
1,6452222a2231db16c2dc,41,No,FHM,3,NaN,Công nghệ,Male,4,Business Analyst,Software Development,BA,Married,3,0.438356
2,9f52e751f00d4200a0c3,43,No,FHO FWA,3,NaN,Công nghệ,Male,2,Software Project Manager,Software Development,PM,Single,3,11.841096
3,43b0013b96ac5bbb2a8a,40,No,GHC,1,NaN,Công nghệ,Male,4,Software Project Manager 3,Software Project Management,PM,Married,3,0.043836
4,45785a6c8f7c132ba407,42,No,FHM,3,NaN,Công nghệ,Male,2,Developer 3,Software Development,Engineer,Married,3,0.276712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,710fc789ff41dda09a3f,27,Yes,FHN,3,NaN,Kỹ thuật,Male,3,Developer,Software Development,Engineer,Single,4,2.567123
1996,adfc059159cbaf7c7108,26,Yes,FHO FWA,1,NaN,Công nghệ,Male,2,Developer,Software Development,Engineer,Single,3,2.567123
1997,777af3d0daf3445d3ec2,29,Yes,IVS,3,NaN,Kinh tế,Female,3,Tester,Software Development,Tester,Married,3,2.567123
1998,9016f1c8bb235b1bfcf3,28,Yes,FHM,2,Đại học FPT HCM,Công nghệ,Male,3,DevOps Engineer,Software Development,Engineer,Single,4,2.567123
1999,e81f7be2038e2f56dbb2,25,Yes,FSG,3,NaN,Công nghệ,Male,2,Developer,Software Development,Engineer,Single,3,2.567123

## 3. Data cleaning

## 4. Feature engineering

## 5. Build the models

## 6. Algorithms optimization

## 7. Algorithms comparison

## 8. Conclusion